<tr id="rooms_<%= room.id %>" class="text-white">
  <td class="text-center border border-slate-600 border-2 "><%= room.user_admin.pseudo %></td>
  <td class="text-center border border-slate-600 border-2"><%= room.name %></td>
  <td class="text-center border border-slate-600 border-2"><%= room.style %></td>
  <td class="text-center border border-slate-600 border-2"><%= room.current_player_number %> / <%= room.maxPlayer %></td>
  <td class="text-center border border-slate-600 border-2"><%= room.current_spectator_number %> / 20</td>
  <td class="text-center border border-slate-600 border-2 flex justify-around">
    <div>
      <%= button_to 'Spectate', join_as_spectator_room_path(room.id), method: :post, class: "flex cursor-pointer rounded my-1 px-2 py-0.5 bg-blue-300 text-black hover:bg-blue-100" %>
    </div>
    <div>
    <%= button_to 'Join', join_room_path(room.id), method: :post, class: "flex cursor-pointer rounded my-1 px-2 py-0.5 bg-purple-900 text-white hover:bg-purple-500", data: { turbo: false } %>
  </div>
  </td>
</tr>
