<%= form_with(model: @room, local: true) do |form| %>

  <div class="form">

    <h1 class="text-white font-bold">Créer une nouvelle salle</h1>

    <div>
      <%= form.label :name, "Nom de la salle", class:"label" %>
      <%= form.text_field :name, class: "field #{'border-red-500 animate-pulse' if @room.errors[:name].any?} focus:border-gray-500", id: "form_input" %>
    </div>

    <div>
      <%= form.label :style, "Style", class:"label" %>
      <%= form.text_field :style, class:"field #{'border-red-500 animate-pulse' if @room.errors[:style].any?} focus:border-gray-500", id: "form_input"%>
    </div>

    <div>
      <%= form.label :maxPlayer, "Max player", class:"label" %>
      <%= form.number_field :maxPlayer, class:"field #{'border-red-500 animate-pulse' if @room.errors[:maxPlayer].any?} focus:border-gray-500", id: "form_input"%>
    </div>

    <div class="flex justify-center py-4">
      <%= form.submit "Créer la salle", class:"primary-button", data: { turbo: false } %>
    </div>
    <div class="flex justify-center">
      <%= link_to "Annuler", root_path, class:"cancel-button" %>
    </div>
  </div>

<% end %>

